* {
  margin: 0;
  padding: 0;
}

.app{
  height: 100rem;
}

.header {
  background-color: yellow;
  width: 100%;
  height: 15%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.search-form {
  width: 50%;
  height: 30%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  
}

.search-input {
  width: 70%;
  height: 50%;
  padding: 12px;
}

.info-card {
  width: 25%;
  height: 15%;
  margin: auto;
  text-align:center ;
  background-color: black;
  color: white;
  border-radius: 10%;
}

.info-card div {
  margin-top: 1.5rem;
}

.info-card img {
  max-width: 15%;
}